<%= form_for([:admin, @recipe], :html => {:multipart => true}) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Recipe Title<br />
    <%= f.text_field :recipe_title %>
  </div>
  <div class="field">
    Recipe Sub-Title<br />
    <%= f.text_field :recipe_subtitle %>
  </div>
  <div class="field">
    Recipe Description<br />
    <%= f.text_area :recipe_desc, :class => "tinymce", :cols => "80", :rows => "15" %>
  </div>
  <div class="field">
    Recipe Image<br />
    <%= image_tag(@recipe.recipe_image.thumb.url) if @recipe.recipe_image? %>
    <br>
    <%= f.file_field :recipe_image %>
    <%= f.hidden_field :recipe_image_cache %>
  </div>
  <div class="field">
    Order Weight<br />
    <%= f.select :recipe_sortweight, sortweights %>
  </div>   
  <div class="field">
    Published?<br />
    <%= f.check_box :recipe_published %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
